#title {
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
    background: LightSkyBlue;
}

#col-target {
    padding: 10px;
    box-sizing: border-box;
    background: #F0F0F0;
}

#col-result {
    padding: 10px;
    box-sizing: border-box;
    background: #F0F0F0;
}

.option-row {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.demo-file {
    padding-left: 15px;
    text-decoration: none;
}

.demo-file:hover {
    text-decoration: underline; 
}

#resultlist {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 60vh;
    background: white;
    overflow: auto;
}

#footer {
    padding: 5px;
    box-sizing: border-box;
    background: Lavender;
}
